<h1>All the Artists</h1>
<%= link_to "Add an Artist", new_artist_path, { :class => "button waves-effect waves-light btn" } %>

<table class="striped bordered">

<tr>
<th>Artist</th>
<th>Image</th>
<th>Albums </th>
<th>Hometown </th>
 <th>Edit</th>
 <th>Delete</th>
</tr>

  <% @artists.each do |artist| %>
      <tr>
        <td><%= link_to artist.name, artist_path(artist) %></td>
        <td><%= image_tag(artist.img, size: "100x100", alt: "Artist Image") %></td>
        <td><%= artist.albums %></td>
        <td><%= artist.hometown %></td>
         <td><a class="btn-floating btn-large red" href="<%= edit_artist_path(artist) %>" >
           <em class="large material-icons">Edit Artist</em>
          </a>
        </td>
        <td> 
           <%= button_to "Delete", artist_path(artist.id), method: :delete,
              data: { confirm: "Are you sure?" } %>
              </td>
      </tr>
  <% end %>


</table>